<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Blog - peterkins.dev</title>
    <meta name="title" content="Blog - peterkins.dev">
    <meta name="description" content="Check out the latest blogs at peterkins.dev.
    There are a bunch of articles and tutorials on the latest tech in programming/development">
    <meta name="image" content="https://peterkins.dev/android-chrome-512x512.png">

    <!-- OG metadata -->
    <meta property="og:title" content="Blog - peterkins.dev">
    <meta property="og:description" content="Check out the latest blogs at peterkins.dev.
    There are a bunch of articles and tutorials on the latest tech in programming/development">
    <meta property="og:image" content="https://peterkins.dev/android-chrome-512x512.png">
    <meta property="og:url" content="https://peterkins.dev/blog">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Stephen Peterkins">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121301783-2"></script>
    <script src="/js/ga-script.js"></script>

    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="header han-purple">
        <div class="header-logo">
          <h1>
            <a href="/">
             peterkins.dev
           </a>
         </h1>
        </div>
        <div class="header-right">
            <a href="/about">about</a>
            <a href="/blog">blog</a>
        </div>
    </div>
    <div class="main">
        <div class="content">
            <h1>blog</h1>
            <div class="blog-list">
              {% set section = get_section(path="blog/_index.md") %}
              {% for post in section.pages %}
                <div class="blog-box">
                  <h2 class="blog-box-title">{{ post.title }}</h2>
                  <h4 class="blog-box-date">{{ post.date }}</h4>
                  <p class="blog-box-description">{{ post.description | safe }}</p>
                  <a href="/{{ post.path }}">
                    <button class="blog-box-button">read</button>
                  </a>
                </div>
              {% endfor %}
            </div>
        </div>
    </div>
    <div class="footer">
      <div class="footer-inner">
        <p>©<span id="footer-year"></span> | Stephen Peterkins | Powered by <a href="https://getzola.org" target="_blank">Zola</a></p>
        <div class="footer-icons">
          <a href="https://github.com/BearGuy" target="_blank">
              <img src="/img/github.svg" height="25" width="25"/>
          </a>
          <a href="https://www.linkedin.com/in/stephen-peterkins/" target="_blank">
              <img src="/img/linkedin.svg" height="25" width="25"/>
          </a>
          <a href="https://twitter.com/speterkins" target="_blank">
              <img src="/img/twitter.svg" height="25" width="25"/>
          </a>
        </div>
      </div>
    </div>
    <script>
        document.getElementById('footer-year').innerHTML = new Date().getFullYear();
    </script>
  </body>
</html>