<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="peterkins.io">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Stephen Peterkins">

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">

        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121301783-2"></script>
        <script src="/js/ga-script.js"></script>

        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
      <div class="header han-purple">
          <div class="header-logo">
            <h1>
              <a href="/">
               peterkins.dev
             </a>
           </h1>
          </div>
          <div class="header-right">
              <a href="/about">about</a>
              <a href="/blog">blog</a>
          </div>
      </div>
        <div class="main">
          <div class="blog-content">
            <h1 class="blog-title">{{ page.title }}</h1>
            <h2 class="blog-timstamp">{{ page.date }}</h2>
            <hr class="blog-divider">
            <div class="blog-body">
              {{ page.content | safe }}
            </div>
          </div>
        </div>
        <div class="footer">
            <p>©<span id="footer-year"></span> — Stephen Peterkins</p>
        </div>
        <script>
            document.getElementById('footer-year').innerHTML = new Date().getFullYear();
        </script>
    </body>
</html>
