<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body style="background: #470FF4">
    <div style="margin: 2em; font-size: 4em; display: flex; flex-direction: column">
      <h1>the peterkins podcast</h1>
      <img style="width: 25%; align-self: flex-end" src="android-chrome-192x192.png" />
    </div>
  </body>
</html>